<%= form_for(@todo_list) do |f| %>
  <% if @todo_list.errors.any? %>
    <div data-alert class="alert-box warning">     
      <%= @todo_list.errors.full_messages.first %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit "确定", class: "button med" %>
  </div>
<% end %>
